{% extends "base.html" %}
{% block content %}
    <form class="login-form" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="d-flex flex-column justify-content-center">
            <h2 class="p-2">Авторизация</h2>
            <div class="p-2 form-floating mb-3">
                {{ form.email(type="email", class="form-control", id="floatingInput", placeholder="name@example.com") }}
                <label for="floatingInput">{{ form.email.label }}</label>
                {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="p-2 form-floating mb-3">
                {{ form.password(type="password", class="form-control", id="floatingPassword", placeholder="Password") }}
                <label for="floatingPassword">{{ form.password.label }}</label>
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
            <p class="p-2">{{ form.remember() }} {{ form.remember.label }}</p>
            <p class="p-2">{{ form.submit(type="submit", class="btn btn-dark") }}</p>
            <div class="p-2">{{ message }}</div>
        </div>
    </form>
{% endblock %}
