{% extends "base.html" %}
{% block content %}
    <section>
        <div class="container">
            <div class="d-flex flex-row justify-content-center">
                <div class="p-2 d-flex flex-column flex-grow-1 order-1">
                    <h2 class="p-2 display-6">Добро пожаловать!</h2>
                    <p class="p-2 fs-4">Для того, чтобы испытать функционал устройства, необходимо пройти регистрацию в системе.</p>
                </div>
                <div class="p-2 d-flex flex-column order-2">
                    <img class="p-2 img-fluid rounded" src="/static/img/concept.png" alt="">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
