{% extends "base.html" %}
{% block content %}
    <section>
        <div class="container">
         <div class="row align-items-center">
           <div class="col-sm-4 order-2">
               <img class="img-fluid rounded" src="/static/img/concept.png" alt="">
           </div>
           <div class="col-sm-8 order-1">
               <h2 class="display-5">Добро пожаловать!</h2>
               <p>Для того, чтобы испытать функционал устройства, необходимо пройти регистрацию в системе.</p>
           </div>
         </div>
        </div>
    </section>
{% endblock %}
